@import "normalize.css";
@import "reset.css";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Montserrat";
}

.container {
  max-width: 1440px;
  padding-left: 195px;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 1037px;
}
.main-section__left-wrapper {
  padding-top: 93px;
}
.main-section__right-wrapper {
  position: relative;
}
.main-section__content-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 90px;
}
.main-section__tag {
  color: #96BB7C;
  font-size: 16px;
  margin-bottom: 35px;
  font-weight: 700;
}
.main-section__title {
  min-width: 542px;
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 35px;
}
.main-section__text {
  color: #737373;
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.main-section__btn-get {
  background: #96BB7C;
  width: 195px;
  height: 52px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.main-section__btn-learn {
  width: 165px;
  height: 52px;
  border: 1px solid #96BB7C;
  border-radius: 5px;
  color: #96BB7C;
  background: white;
  font-size: 16px;
  font-weight: 700;
}
.main-section__img {
  position: absolute;
  top: 10px;
  left: -138px;
}
.main-section__rectangle {
  position: absolute;
  width: 520px;
  height: 626.4px;
  background: #FFF2F3;
  border-radius: 50px;
  z-index: -2;
  top: -16px;
  left: 60px;
}
.main-section__cards-container {
  z-index: 2;
}

.nav-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 91px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-container__header {
  font-size: 24px;
  font-weight: 700;
  margin-right: 79px;
}
.nav-container__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 240px;
}
.nav-container__menu-item {
  margin-right: 21px;
  color: #737373;
}
.nav-container__menu-item:last-child {
  margin-right: 0;
}
.nav-container__log-btn {
  font-size: 16px;
  font-weight: 700;
  color: #96BB7C;
  margin-right: 45px;
}
.nav-container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 137px;
  height: 52px;
  background: #96BB7C;
  border: none;
  border-radius: 5px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nav-container__btn i {
  font-size: 14px;
  font-weight: 700;
}
.nav-container__btn span {
  font-size: 14px;
  font-weight: 700;
}

.cards {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.cards__card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 35px 40px;
  width: 328px;
  height: 296px;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background: #FFF2F3;
  margin-right: 30px;
}
.cards__card-item:last-child {
  margin: 0;
}
.cards__circle {
  width: 72px;
  height: 72px;
  background: #E74040;
  border-radius: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}
.cards__title {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 45px;
}
.cards__hr {
  position: absolute;
  top: 40px;
  width: 50px;
  height: 2px;
  background: #E74040;
  border: none;
  margin: 0;
}
.cards__text {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.stats-section {
  height: 264px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stats-section__stat-item {
  width: 238px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.stats-section__stat-item:last-child {
  margin: 0;
}
.stats-section__stat-digit {
  font-size: 56px;
  font-weight: 700;
  line-height: 80px;
  color: #96BB7C;
}
.stats-section__stat-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.client-section {
  height: 761px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.client-section__content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.client-section__left-wrapper {
  width: 504px;
  height: 423.92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 45px;
}
.client-section__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  margin-bottom: 35px;
}
.client-section__text {
  max-width: 345px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 35px;
}
.client-section__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #96BB7C;
}
.client-section__link:hover {
  color: #96BB7C;
}
.client-section__hr {
  margin: 0;
  background: #E74040;
  width: 94px;
  height: 7px;
  margin-bottom: 35px;
  border: none;
}